body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

/* styling */
.br {
  border: 1px solid red;
}

.bl {
  border: 1px solid blue;
}

/* papa container */

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

/* sidebar */
.sidebar {
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 75px 350px 250px;
  gap: 50px;

  background-color: #5b21b6;
  color: #f5f3ff;
  font-weight: bold;

  padding: 20px;
}

div.icon-container > p {
  font-size: 25px;
}

.n-container,
.s-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

svg {
  color: #f0f9ff;
  margin-right: 10px;
}

/* header */
.header {
  border: 1px solid red;
  grid-column: 2/3;

  display: grid;
  grid-template-rows: 1.5fr 2fr;
}

.search-container {
  display: grid;
  grid-template-columns: auto 200px;
}

.profile-container {
  display: grid;
  grid-template-columns: auto 400px;
}

/* dashboard */
.dashboard-container {
  border: 1px solid red;
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: auto 300px;
}

/* projects */
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.title-projects {
  grid-column: 1 /3;
}

.project {
  height: 150px;
}

/*announcement */
.announcements-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcements {
  height: 300px;
}

.trending {
  height: 300px;
}
